<div class="flex flex-row justify-center">
  <div class="flex flex-row justify-center items-center mt-14 w-1/2 p-8 py-20 bg-yellow-50 shadow-lg drop-shadow-2xl text-slate-800">
    <div class="w-1/2 mr-5">
       <%= image_tag("female_social_media.png", class: "w-full") %>
    </div>
   
     <div class="w-1/2 ml-5">
       <h1 class="pl-2 pb-2 mb-2 text-3xl border-b-2 border-slate-200 font-semibold">Sign up</h1>
       <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
       <%= render "devise/shared/error_messages", resource: resource %>
     
       <div class="field w-full ">
         <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", class: "w-full h-10 my-5 p-2 border border-solid border-slate-700 rounded-sm" %>
       </div>
     
       <div class="field w-full">
         <%= f.password_field :password, autocomplete: "new-password", placeholder: "password", class: "w-full h-10 p-2 border border-solid border-slate-700 rounded-sm" %>
         <% if @minimum_password_length %>
           <em>(<%= @minimum_password_length %> characters minimum)</em>
         <% end %>
         <br/>
       </div>
     
       <div class="field w-full">
         <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "confirm password", class: "w-full h-10 my-5 p-2 border border-solid border-slate-700 rounded-sm" %>
       </div>
     
       <div class="actions flex flex-row justify-between">
        <div>
            <%= link_to "Sign In", new_user_session_path %>
        </div>
         <%= f.submit "Sign up", "data-turbo" => "false", class: "text-lg font-semibold text-white w-1/3 p-3 rounded-md bg-slate-800 hover:bg-slate-700 hover:cursor-pointer" %>
       </div>
     <% end %>
  </div>
</div>




