<!DOCTYPE html>
<html>
  <head>
    <title>SocialScheduler</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>

    <div class="flex flex-row">
      <%= render "sidebar" %>
      <div class="w-5/6 bg-slate-200 h-screen">
          <%= render "navbar" %>   
          <%= render "page-content" %>    
      </div>
    </div>
  

  </body>
</html>
